<template>
    <div>
        <div id="row">

            <div>
                <input type="text" v-model="routeDto.routeName" name="routeName" placeholder="route name.">
            </div>
            <div>
                <input type="text" v-model="routeDto.cragName" name="cragName" placeholder="crag name">

            </div>
            <div>
                <input type="text" v-model="routeDto.wallName" name="wallName" placeholder="wall name">

            </div>
            <div>
                <button @click="$emit('add-route', routeDto)" class="add">Add</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'AddAscent',
        data() {
            return {
                routeDto: {
                    routeName: '',
                    cragName: '',
                    wallName: ''
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:Gray;
    }
    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
