<template>
    <div>
        <div id="row">
            <div>
                Route name
            </div>
            <div>
                Crag name
            </div>
            <div>
                Wall name
            </div>
            <div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: 'RoutesHeader'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:dimgray;
        color:lightgray;
    }

    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
