<template>
    <div class="routes">
        <RoutesHeader/>
        <div v-for="route in routes" v-bind:key="route.id">
            <Route v-bind:route="route" v-on:del-route="deleteRoute"/>
        </div>
        <AddRoute v-on:add-route="addRoute"/>
    </div>
</template>

<script>

    import axios from 'axios'
    import Route from "@/components/Routes/Route";
    import AddRoute from "@/components/Routes/AddRoute";
    import RoutesHeader from "@/components/Routes/RoutesHeader";

    export default {
        name: 'Routes',
        components: {
            Route,
            AddRoute,
            RoutesHeader
        },
        methods: {
            addRoute(routeDto) {

                axios.post(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ROUTES, routeDto, {withCredentials: true})
                    .then( res => {
                        this.routes = [...this.routes, res.data]
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            deleteRoute(id) {
                console.log("deleting route, id=" + id)
                axios.delete(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ROUTES + "/" + id, {withCredentials: true})
                    .then(res => {
                        this.routes = this.routes.filter(route => route.id !== id)
                        console.log(res.status)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        mounted() {
            axios.get(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ROUTES)
                .then(res => {
                    this.routes = res.data
                })
                .catch(error => console.log(error))

        },
        data() {
            return {
                routes: []
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
