<template>
 <div>
     <div id="row">
         <div>
             {{route.name}}
         </div>
         <div>
             {{route.wall.name}}
         </div>
         <div>
             {{route.wall.crag.name}}
         </div>
         <div>
             <button @click="$emit('del-route', route.id)" class="del">X</button>
         </div>
     </div>
 </div>
</template>

<script>


export default {
    name: 'Route',
    props: ['route']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:Gray;
    }
    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
