<template>
    <div class="ascentsView">
        <h1>This is an Ascents page</h1>
        <Ascents/>
    </div>
</template>

<script>
    import Ascents from '@/components/Ascents/Ascents.vue'

    export default {
        name: 'AscentsView',
        components: {
            Ascents
        }
    }
</script>
