<template>
    <div class="loginView">
        <Login/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Login from "@/components/Login";

    export default {
        name: 'LoginView',
        components: {
            Login
        }
    }
</script>
