<template>
    <div class="routesView">
        <h1>This is an Routes page</h1>
        <Routes/>
    </div>
</template>

<script>
    import Routes from '@/components/Routes/Routes.vue'

    export default {
        name: 'RoutesView',
        components: {
            Routes
        }
    }
</script>
