<template>
    <div>
        <div id="row">

                <div>
                    <input type="text" v-model="ascentDto.routeDto.routeName" name="routeName" placeholder="route name.">
                </div>
                <div>
                    <input type="text" v-model="ascentDto.routeDto.cragName" name="cragName" placeholder="crag name">
                </div>
                <div>
                    <input type="text" v-model="ascentDto.routeDto.wallName" name="wallName" placeholder="wall name">
                </div>
                <div>
<!--                    <input type="text" v-model="ascentDto.difficulty" name="difficulty" placeholder="difficulty">-->
                    <select v-model="ascentDto.difficulty">
                        <option :value="null" disabled>Max Difficulty</option>
                        <option v-bind:key="difficulty.text" v-for="difficulty in difficulties" v-bind:value="difficulty.text" >
                            {{ difficulty.text }}
                        </option>
                    </select>
                </div>
                <div>
<!--                    <input type="text" v-model="ascentDto.status" name="status" placeholder="status">-->
                    <select v-model="ascentDto.status">
                        <option :value="null" disabled>Max Difficulty</option>
                        <option v-bind:key="status" v-for="status in statuses" v-bind:value="status" >
                            {{ status }}
                        </option>
                    </select>
                </div>
                <div>
                    <input type="text" v-model="ascentDto.date" name="date" placeholder="date">
                </div>
                <div>
                    <button @click="$emit('add-ascent', ascentDto)" class="add">Add</button>
                </div>
            </div>
    </div>
</template>

<script>

    export default {
        props: {
            difficulties: {
                type: Array
            },
            statuses: {
                type: Array
            }
        },
        name: 'AddAscent',
        data() {
            return {
                ascentDto : {
                    routeDto: {
                        routeName: '',
                        cragName: '',
                        wallName: ''
                    },
                    difficulty: '',
                    status: '',
                    date: new Date().toISOString().slice(0,10)
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:Gray;
    }
    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
