<template>
    <div>
        <div id="row">
            <div>
                {{ascent.route.name}}
            </div>
            <div>
                {{ascent.route.wall.crag.name}}
            </div>
            <div>
                {{ascent.route.wall.name}}
            </div>
            <div>
                {{ascent.difficulty}}
            </div>
            <div>
                {{ascent.status}}
            </div>
            <div>
                {{ascent.date}}
            </div>
            <div>
                <button @click="$emit('del-ascent', ascent.id)" class="del">X</button>
            </div>

        </div>
    </div>
</template>

<script>


    export default {
        name: 'Ascent',
        props: ['ascent']
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:Gray;
    }
    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
