<template>
    <div class="ascents">
        <AscentFilter v-on:send-filter="refreshFilter" v-bind:difficulties=difficulties v-bind:statuses=statuses />
        <AscentsHeader/>
        <div v-for="ascent in ascents" v-bind:key="ascent.id">
            <Ascent v-bind:ascent="ascent" v-on:del-ascent="deleteAscent"/>
        </div>
        <AddAscent v-on:add-ascent="addAscent" v-bind:difficulties=difficulties v-bind:statuses=statuses />
        <br>
        <br>
        <br>
        <AscentsImporter v-on:add-many-ascent="addManyAscent"/>
    </div>
</template>

<script>
    import axios from "axios";
    import Ascent from "@/components/Ascents/Ascent";
    import AddAscent from "@/components/Ascents/AddAscent";
    import AscentsHeader from "@/components/Ascents/AscentsHeader";
    import AscentsImporter from "@/components/Ascents/AscentsImporter";
    import AscentFilter from "@/components/Ascents/AscentFilter";4

    function notEmpty(element) {
        return element != null && element !== "" && element.length !== 0;
    }

    function requestParams(filter) {

        let requestParam = "?"

        if (notEmpty(filter.difficultyFrom)) {
            requestParam += "dif="+filter.difficultyFrom.replace("+","%2B") + "&";
        }
        if (notEmpty(filter.difficultyTo)) {
            requestParam += "dit="+filter.difficultyTo.replace("+","%2B") + "&";
        }
        if (notEmpty(filter.dateFrom)) {
            requestParam += "daf="+filter.dateFrom + "&";
        }
        if (notEmpty(filter.dateTo)) {
            requestParam += "dat="+filter.dateTo + "&";
        }
        if (notEmpty(filter.statuses)) {
            requestParam += "s="+filter.statuses + "&";
        }
        console.log(requestParam)
        return requestParam;
    }

    function mapCsvToArrayOfJson(csvData) {
        let ascentsAsStrings = csvData.match(/[^\r\n]+/g);

        let ascentsAsJsons = []

        // intentionally starting from 1 - first row (index 0) is header
        for(let i=1; i < ascentsAsStrings.length; i++) {

            let ascentValues = ascentsAsStrings[i].split(",");

            console.log(ascentValues)

            let ascent = {
                routeDto : {
                    routeName : ascentValues[0],
                    wallName: ascentValues[5],
                    cragName: ascentValues[4]
                },
                difficulty: ascentValues[1],
                status : ascentValues[2],
                date : ascentValues[3]
            }

            if (ascent.date === "") ascent.date = "2000-01-01"

            ascentsAsJsons.push(ascent)
        }

        return ascentsAsJsons
    }

    export default {
        name: 'Ascents',
        components: {
            Ascent,
            AddAscent,
            AscentsHeader,
            AscentsImporter,
            AscentFilter
        },
        data() {
            return {
                ascents: [],
                statuses: ["RP", "FL", "OS", "Project", "Tried", "Todo_Tried", "Todo"],
                difficulties: [
                    { text: 'I', value: 'I' },
                    { text: 'II', value: 'II' },
                    { text: 'III', value: 'III' },
                    { text: 'IV', value: 'IV' },
                    { text: 'IV+', value: 'IV+' },
                    { text: 'V-', value: 'V-' },
                    { text: 'V', value: 'V' },
                    { text: 'V+', value: 'V%2B' },
                    { text: 'VI-', value: 'VI-' },
                    { text: 'VI', value: 'VI' },
                    { text: 'VI+', value: 'VI%2B' },
                    { text: 'VI.1', value: 'VI.1' },
                    { text: 'VI.1+', value: 'VI.1%2B' },
                    { text: 'VI.2', value: 'VI.2' },
                    { text: 'VI.2+', value: 'VI.2%2B' },
                    { text: 'VI.3', value: 'VI.3' },
                    { text: 'VI.3+', value: 'VI.3%2B' },
                    { text: 'VI.4', value: 'VI.4' },
                    { text: 'VI.4+', value: 'VI.4%2B' },
                    { text: 'VI.5', value: 'VI.5' },
                    { text: 'VI.5+', value: 'VI.5%2B' },
                    { text: 'VI.6', value: 'VI.6' },
                    { text: 'VI.6+', value: 'VI.6%2B' },
                    { text: 'VI.7', value: 'VI.7' },
                    { text: 'VI.7+', value: 'VI.7%2B' },
                    { text: 'VI.8', value: 'VI.8' },
                    { text: 'VI.8+', value: 'VI.8%2B' },
                    { text: 'VI.9', value: 'VI.9' },
                    { text: 'VI.9+', value: 'VI.9%2B' }
                ]
            }
        },
        methods: {
            refreshFilter(filter) {
                axios.get(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ASCENTS + requestParams(filter), {withCredentials: true})
                    .then(res => {
                        console.log("data fetched correctly.")
                        this.ascents = res.data
                    })
                    .catch(error => {
                        console.log(error)
                        if (error.response.status === 401) {
                            alert("please log in")
                        }
                        if (error.response.status === 400) {
                            alert("bad request - probably invalid input")
                        }
                    })
            },
            deleteAscent(id) {
                console.log("deleting ascent, id=" + id)
                axios.delete(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ASCENTS +"/" + id, {withCredentials: true})
                    .then(this.ascents = this.ascents.filter(ascent => ascent.id !== id))
                    .catch(err => {
                        console.log(err)
                    })
            },
            addAscent(ascentDto) {
                axios.post(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ASCENTS, ascentDto, {withCredentials: true})
                    .then( res => {
                        this.ascents = [...this.ascents, res.data]
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            addManyAscent(csvData) {
                let ascents = mapCsvToArrayOfJson(csvData)

                axios.post(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ASCENTS + ":many", ascents, {withCredentials: true})
                    .then( res => {
                        console.log(res)
                        alert("reload page to show all added routes")

                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        mounted() {
            axios.get(process.env.VUE_APP_BACKEND_SERVER + process.env.VUE_APP_ASCENTS, {withCredentials: true})
                .then(res => {
                    console.log("data fetched correctly.")
                    this.ascents = res.data
                })
                .catch(error => {
                    console.log(error)
                    if (error.response.status === 401) {
                        alert("please log in")
                    }
                })

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
