<template>
    <div>
        <div id="ascentFilter">

            <select v-model="filter.difficultyFrom">
                <option :value="null" disabled>Min Difficulty</option>
                <option v-bind:key="difficulty.text" v-for="difficulty in difficulties" v-bind:value="difficulty.value" >
                    {{ difficulty.text }}
                </option>
            </select>

            <select v-model="filter.difficultyTo">
                <option :value="null" disabled>Max Difficulty</option>
                <option v-bind:key="difficulty.text" v-for="difficulty in difficulties" v-bind:value="difficulty.value" >
                    {{ difficulty.text }}
                </option>
            </select>

            <input type="text" v-model="filter.dateFrom" name="dateFrom" placeholder="From date"/>
            <input type="text" v-model="filter.dateTo" name="dateTo" placeholder="To date"/>

            <select multiple v-model="filter.statuses" >
                <option :value="null" disabled>Statuses</option>
                <option v-for="status in statuses" v-bind:key="status" v-bind:value="status">
                    {{ status }}
                </option>
            </select>

            <button @click="$emit('send-filter', filter)">refresh</button>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            difficulties: {
                type: Array
            },
            statuses: {
                type: Array
            }
        },
        name: 'AscentFilter',
        data() {
            return {
                filter : {
                    difficultyFrom:null,
                    difficultyTo:null,
                    dateFrom:null,
                    dateTo:null,
                    statuses:[]
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
