<template>
    <div>
        <div id="row">
            <input type="file" @change="loadTextFromFile">

        </div>
    </div>
</template>

<script>

    export default {
        name: 'AscentsImporter',
        methods: {
            loadTextFromFile(ev) {
                const file = ev.target.files[0];
                const reader = new FileReader();

                reader.onload = e => {
                    console.log(e.target.result)
                    this.$emit("add-many-ascent", e.target.result);
                }
                reader.readAsText(file);
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #row {
        display: table;
        table-layout: fixed;

        width:90%;
        background-color:Gray;
    }
    #row div {
        display: table-cell;
    }

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
