<template>
    <div class="login">
        <label for="loginInput"> Login: </label>
        <input id="loginInput" type="text" v-model="input.username" placeholder="Username">
        <br>
        <label for="passwordInput"> Password: </label>
        <input id="passwordInput" type="password" v-model="input.password" placeholder="Password">
        <br>
        <button id="submitCredentialsButton" @click="submit()">Login</button>
        <button id="clearCredentialsButton" @click="clear()">Clear</button>

    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        mounted() {
            console.log("Login ")
        },
        methods: {
            submit() {
                let credentials = { "name": this.input.username, "password": this.input.password}

                axios.post(process.env.VUE_APP_BACKEND_SERVER+'/authenticateBrowser', credentials, {withCredentials: true})
                    .then(res => console.log(res))
                    .catch(error => console.log(error))

                this.input.username = ""
                this.input.password = ""
            },
            clear() {
                this.input.username = ""
                this.input.password = ""
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
